
@{
    ViewBag.Title = "Create";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Manage Bus Stops
    </h1>
</section>

<!-- Main content -->
<section class="content">
    <!-- general form elements -->
    <div class="box box-primary">
        <!-- form start -->
        <form role="form" action="@Url.Action("Add", "BusStop")" method="post">
            <div class="box-body">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input name="name" id="name" type="text" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="latitude">Latitude</label>
                    <input name="latitude" id="latitude" type="text" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="longitude">Longitude</label>
                    <input name="longitude" id="longitude" type="text" class="form-control" />
                </div>
            </div>
            <!-- /.box-body -->

            <div class="box-footer">
                <button type="submit" class="btn btn-primary">Add</button>
            </div>
        </form>
    </div>
    <!-- /.box -->
</section>