
@{
    ViewBag.Title = "Create";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Manage Beacon
    </h1>
</section>

<!-- Main content -->
<section class="content">
    <!-- general form elements -->
    <div class="box box-primary">
        <!-- form start -->
        <form role="form" action="@Url.Action("Add", "Beacon")" method="post">
            <div class="box-body">
                <div class="form-group">
                    <label for="uuid">UUID</label>
                    <input name="uuid" id="uuid" type="text" class="form-control" placeholder="Enter UUID">
                </div>
                <div class="form-group">
                    <label for="major">Major</label>
                    <input name="major" type="number" class="form-control" id="major" placeholder="Enter major">
                </div>
                <div class="form-group">
                    <label for="minor">Minor</label>
                    <input name="Minor" type="number" class="form-control" id="minor" placeholder="Enter minor">
                </div>
            </div>
            <!-- /.box-body -->

            <div class="box-footer">
                <button type="submit" class="btn btn-primary">Add</button>
            </div>
        </form>
    </div>
    <!-- /.box -->
</section>