@{
    ViewBag.Title = "Home Page";
    List<BusHelperDAL.Beacon> beacons = ViewBag.Beacons;
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Welcome to Bus Helper
    </h1>
</section>
