

@{
    ViewBag.Title = "Create";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Manage User Tokens
    </h1>
</section>

<!-- Main content -->
<section class="content">
    <!-- general form elements -->
    <div class="box box-primary">
        <!-- form start -->
        <form role="form" action="@Url.Action("Add", "UserToken")" method="post">
            <div class="box-body">
                <div class="form-group">
                    <label for="token">Token</label>
                    <input name="token" id="token" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label for="user_id">User ID</label>
                    <input name="user_id" id="user_id" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label for="created_at">Created at</label>
                    <input name="created_at" id="created_at" type="datetime" class="form-control">
                </div>
            </div>
            <!-- /.box-body -->

            <div class="box-footer">
                <button type="submit" class="btn btn-primary">Add</button>
            </div>
        </form>
    </div>
    <!-- /.box -->
</section>